/* ForgotPassword.module.css */

.ForgotPassword_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .ForgotPassword_container label{
    margin-bottom: 10px;
    font-weight: 700;
    font-family: cursive;
  }
  
  #e-mail {
    margin-bottom: 10px;
  }
  
  .ForgotPassword_container input {
    padding: 8px;
    margin-bottom: 20px;
    width: 250px;
  }
  
  .ForgotPassword_container button {
    padding: 10px;
    background-color: #4caf50; /* Green color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .ForgotPassword_container button:hover {
    background-color: #45a049; /* Darker green color on hover */
  }
  