body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(360deg, rgb(81, 172, 202), lightgreen);
}

.signup_form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #1a0101;
    box-shadow: 0px 0px 10px black;
    border-radius: 8px;
    background-color: rgb(202, 192, 181);
  }

.signup_form div{
    width: 350px;
    height: auto;
}

.signup_form h1{
    text-align: center;
}
  
.signup_form  label {
    display: block;
    margin-bottom: 8px;
  }
  
.signup_form  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
.signup_form button {
    background-color: #1b419b;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
.signup_form button:hover {
    background-color: #278aa6;
  }
  